---
layout: base
---
{% include 'header' %}
<main>
  <section aria-labelledby="{{ title |  remove: ' '  }}">
    <h2 id="{{ title |  remove: ' '  }}">{{ title }}</h2>
    <p>{{ description }}</p>
    {{ content }}
  </section>
</main>
{% include 'footer' %}